{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}zDownloader{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'homepage' %}">zDownloader</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Obsługiwane strony</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pomoc</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-12 mx-auto mt-5">
                <h1 class="text-center title">zDownloader</h1>
                <p class="info text-center">zDownloader umożliwia pobieranie filmów z <a href="https://zalukaj.com/">zalukaj.com</a> oraz <a href="https://www.cda.pl/">cda.pl</a>.</p>
            </div>
        </div>
        {% block content %}
            
        {% endblock %}
    </div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
</body>
</html>